/* Wspólne */
p {
    color: #777777;
    font-size: 16px;
    text-align: center;
}

body h1, body h2, #header-logo, #myNavbar ul li a, #title button, #contact h3, #contact h4 {
    color: white;
}

body h2, #header-logo {
    font-family: "DroidSerif", serif;
    font-style: italic;
}

body h1, body h3, #myNavbar ul, .btn {
    font-family: "Montserrat", sans-serif;
}

body h1 {
    font-size: 70px;
    font-weight: 700;
}

body h2 {
    font-size: 42px;
}

body h3 {
    color: #333333;
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 600;    
}

body h4 {
    color: #777777;
    text-align: center;
    font-style: italic;
    font-size: 16px;
}

body h5 {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

#services, #portfolio, #team, #contact {
    padding-top: 70px;
    padding-bottom: 100px;
}

.header-parallax { 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER */
#main-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#header-logo {
    font-size: 24px;
    padding-left: 50px;
    padding-top: 17px;
 }

#header-logo, .navbar-toggle {
    display: inline-block;
}

#title {
    position: absolute;
    text-align: center;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title button {
    width: 185px;
    height: 60px;
    font-size: 18px;
    font-weight: 600;
}

/* Navigacja */
#main-header nav {
    background-color: transparent;
    /*  Potrzebne do wywalenia linii na dole nawigacji  */
    border: none;
}

#myNavbar {
    text-align: right;
    border: none;
}

.navbar-header {
    height: 70px;
}

#myNavbar ul {
    font-size: 14px;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#myNavbar ul li {
    padding-right: 30px;
}

#myNavbar ul li a:hover {
    color: #0ed8d6;
    transition: all .5s;
}

#main-header .icon-bar {
    background-color: white;
}

#main-header .menu-class { 
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 70px;
}

#main-header .navbar-toggle {
    right: 20px;
    top: 10px;
}

#main-header .navbar-toggle:hover {
    background-color: #0ed8d6;
}

/* Scroll to top button */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
}

#scroll-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}

#scroll-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#scroll-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* SERVICES */
#services .icon-box {
    margin: auto;
    width: 60px;
    height: 60px;
    background-color: #0ed8d6;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    margin-top: 20px;
    transition: all .8s;
}

#services .icon-box:hover {
    transform: rotate(360deg);
    background-color: white;
    transition: all .8s;
}

#services .icon-box:hover .fa {
    color: #0ed8d6;
}

/* PORTFOLIO */
#portfolio {
    background-color: #f7f7f7;
}

#portfolio .image-box {
    height: 400px;
    width: 330px;
    background-color: white;
    overflow: hidden;
    margin: auto;
}

#portfolio .image {
    position: relative;
    width: 330px;
    height: 300px;
    background-size: cover;
    background-position: center, center;
    margin-bottom: 25px;
    transition: all 0.7s;
}

#portfolio .image:hover {
    transform: scale(1.05);
}

#portfolio .image:hover .fa-plus {
    opacity: 1;
    transition: all .7s;
}

#portfolio .image-mask {
    width: 100%;
    height: 100%;
}

#portfolio .image-mask:hover {
    background-color: #0ed8d6;
    opacity: .7;
}

#portfolio .fa-plus {
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    opacity: 0;
}

#image-1 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

#image-2 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

#image-3 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#image-4 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#image-5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#image-6 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

/* TEAM */
#team .icon-box {
    display: inline-block;
    background-color: black;
    font-size: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    margin-bottom: 40px;
}

#team .icon-box:hover {
    background-color: #0ed8d6;
    transition: all .7s;
}

#team .items {
    text-align: center;
}

#team-image-1, #team-image-2, #team-image-3 {
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center, center;
    margin-bottom: 40px;
}

#team-image-1 {
    background-image: url(../img/team/man-1.jpg);
}

#team-image-2 {
    background-image: url(../img/team/man-2.jpg);
}

#team-image-3 {
    background-image: url(../img/team/woman-1.jpg);
}

/* CONTACT */
.contact-parallax { 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/footer/world-map.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact input {
    height: 55px;
    margin-bottom: 25px;
}

#contact textarea {
    resize: none;
}

#contact .col-md-12 {
    text-align: center;
}

#contact .btn {
    height: 50px;
}

footer .row {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 70px;
}

footer .icon-box {
    display: inline-block;
    border-radius: 50%;
    background-color: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
}

footer .icon-box:hover {
    background-color: #0ed8d6;
    transition: all .7s;
}

footer .fa {
    font-size: 18px;
}

footer p {
    margin: 0;
}