/* WSPÓLNE */

body p {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #777777;
}

body h1,
h2,
h3,
h4,
.btn {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
}

body .btn {
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    width: 150px;       
}

body h1 {
    text-transform: uppercase;
    font-weight: 700;
}

body h2,
h4 {
    font-family: 'Droid Serif', serif;
    font-style: italic;
}

body h4 {
    font-size: 16px;
    color: #777777;
}

#services, #portfolio, #team, #contact {
    text-align: center;
}

#services,
#portfolio,
#team,
#contact {
    padding-top: 80px;
    padding-bottom: 130px;
}

#services h3 {
    font-size: 18px;
    font-weight: 700;
}

#title h1,
#title h2,
#contact h1,
#contact h4 {
    color: white;
}

#title h1 {
    font-size: 60px;
    font-weight: 700;
}

/* HEADER */
#main-header {
    height: 100vh;
    width: 100%;
    margin: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.header-parallax { 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    position: absolute;
    /*  Musi być podany rozmiar, bo inaczej się nie wypozycjonuje  */
    width: 720px;
    height: 210px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

body .btn {
    height: 50px;
    width: 150px;
    background-color: #0ed8d6;
}

/* Scroll to top button */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
}

#scroll-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}

#scroll-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#scroll-to-top:hover i {
    color: #fff;
    top: 5px;
}

/* Menu */
#main-header a {
    color: white;
    transition: all .5s;
}

#main-header a:hover {
    color: #0ed8d6;
}

#main-header .menu-class a {
    color: #0ed8d6;
}

#main-header .menu-class a:hover {
    color: white;
}

#main-header nav {
    background-color: transparent;
    /*  Potrzebne do wywalenia linii na dole nawigacji  */
    border: none;
}

#main-header .menu-class { 
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    z-index: 10;
}

.navbar-fixed-top {
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
}

li {
    right: 30px;
    margin-left: 25px;
}

.navbar-toggle {
    right: 30px;
}

ul {
    text-align: right;
}

#main-header .icon-bar {
    background-color: #0ed8d6;
}

#main-header .navbar-toggle {
    background-color: transparent;
}

#main-header .navbar-toggle:hover {
    background-color: #0ed8d6;
}

#main-header .navbar-toggle:hover .icon-bar {
    background-color: white;
}

/* SERVICES */
#services .icon-box {
    margin: auto;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    background-color: #0ed8d6;
    border-radius: 50%;
    transition: all .8s;
}

#services .icon-box:hover {
    background-color: white;
    //border: 2px solid #0ed8d6;
    transform: rotate(360deg);
    transition: all .8s;
}

/* Pozwala zienić kolor fa po kliknięciu w icon-box*/
#services .icon-box:hover .fa {
    color: #0ed8d6;
}

/* PORTFOLIO */
#portfolio {
    background-color: #f7f7f7;
}

.img-container {
    //width: 350px;
    height: 250px;
    transition: all 0.7s;
}

.img-container:hover {
    transform: scale(1.05);
    transition: all 0.7s;
}
#image-1, #image-2, #image-3, #image-4, #image-5, #image-6, .image-mask {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;     
}

.image-box {
    background-color: white;
    padding-bottom: 15px;
    /*  Aby powiększało sie wewnątrz boxa  */
    overflow: hidden;
}

.image-mask:hover {
    background-color: #0ed8d6;
    opacity: .7;
}

/*.fa-plus musi być zagnieżdżone w innym divie, #image-1*/
#image-1:hover .fa, #image-2:hover .fa, #image-3:hover .fa, #image-4:hover .fa, #image-5:hover .fa, #image-6:hover .fa {
    opacity: 1;
    transition: all .7s;
}

#portfolio .fa-plus {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    opacity: 0;
}

#image-1 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

#image-2 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

#image-3 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#image-4 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#image-5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#image-6 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

#team img {
    width: 250px;
    border-radius: 50%;
}

#team .icon-box {
    position: relative;
    display: inline-block;
    background-color: #222222;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all, 0.5s;
}

#team .icon-box:hover {
    background-color: #0ed8d6;
    transition: all 0.5s;
}

#team .fa {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*  Wycentrowane w pionie przez fa-fw  */
    height: 28px;
}

#team .col-xs-12 {
    padding-bottom: 20px;
}

#team-text {
    margin-top: 60px;
}

/* CONTACT */
.contact-parallax { 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/footer/world-map.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact input {
    height: 55px;
    margin-bottom: 25px;
}

footer .row {
    display: flex;
    align-items: center;
    //line-height: 80px;
    height: 80px;
    text-align: center;
}

.icon-box {
    //top: 22px;
}

/* FOOTER */
footer .icon-box {
    display: inline-block;
    background-color: #222222;
    margin: auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    transition: all .8s;
}

footer .icon-box:hover {
    background-color: #0ed8d6;
}


